<div>
    <a href="https://plot.ly/~Flavioh/101/?share_key=bvB71xTJNV8jTOj2VRNLfS" target="_blank" title="Plot 101" style="display: block; text-align: center;"><img src="https://plot.ly/~Flavioh/101.png?share_key=bvB71xTJNV8jTOj2VRNLfS" alt="Plot 101" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="Flavioh:101" sharekey-plotly="bvB71xTJNV8jTOj2VRNLfS" src="https://plot.ly/embed.js" async></script>
</div>
