<div>
    <a href="https://plot.ly/~Flavioh/103/?share_key=09vrYhpm5wOmaj6kAFMgQg" target="_blank" title="Plot 103" style="display: block; text-align: center;"><img src="https://plot.ly/~Flavioh/103.png?share_key=09vrYhpm5wOmaj6kAFMgQg" alt="Plot 103" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="Flavioh:103" sharekey-plotly="09vrYhpm5wOmaj6kAFMgQg" src="https://plot.ly/embed.js" async></script>
</div>
