<div>
    <a href="https://plot.ly/~benja263/47/?share_key=eg4p4BtAaQiZeglsRi25dz" target="_blank" title="Plot 47" style="display: block; text-align: center;"><img src="https://plot.ly/~benja263/47.png?share_key=eg4p4BtAaQiZeglsRi25dz" alt="Plot 47" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="benja263:47" sharekey-plotly="eg4p4BtAaQiZeglsRi25dz" src="https://plot.ly/embed.js" async></script>
</div>
